<%= form_with(model: groceries_item, local: true) do |form| %>
  <% if groceries_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(groceries_item.errors.count, "error") %> prohibited this groceries_item from being saved:</h2>

      <ul>
      <% groceries_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :availability %>
    <%= form.number_field :availability %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
